# Based off of: https://github.com/isunjn/serene/blob/main/example-config.toml 
# Further reading: https://www.getzola.org/documentation/getting-started/configuration/

# The URL the site will be built for
base_url = "https://bhodrolok.xyz" 

# The site title, description and language; used in feeds by default.
title = "Hello, World!"
description = "Landing page"
default_language = "en"

# theme = "" 

# For overriding the default output directory `public` in the current working directory, set it to another value (e.g.: "docs")
output_dir = "public"

compile_sass = true              # Keep this true
minify_html = true               # Whether to minify html code
build_search_index = false       # Keep this false, search is temporarily unsupported
generate_feed = false            # Whether to generate a feed file in root, read docs for more info about rss feed
feed_filename = "feed.xml"       # The file name of feed, "feed.xml" / "atom.xml" / "rss.xml", read docs for more info
taxonomies = [
    {name = "tags"},             # Keep this
    {name = "categories"}        # Keep this
]

[markdown]
highlight_code = true
extra_syntaxes = []          
highlight_theme = "nord"         # The highlight theme, choose one at https://www.getzola.org/documentation/getting-started/configuration/#syntax-highlighting
render_emoji = true
external_links_target_blank = false
external_links_no_follow = true
external_links_no_referrer = true
smart_punctuation = false

# Various slugification strategies, see below for details
# Defaults to everything (path, taxonomies, anchors) being a slug ( = ASCII rep. with no special chars)
[slugify]
paths = "on"
taxonomies = "on"
anchors = "on"

# You can put any kind of data here. The data
# will be accessible in all templates
# Example:
#     [extra]
#     author = "Famous author"
#
# author value will be available using {{ config.extra.author }} in templates
[extra]
name = "Ranadip Chatterjee"                    # Your name
id = "R C"                      # Your id/username/handle
bio = "Always Learning, Always Seeking"                     # Your bio
avatar = "img/pfp-1.webp"       # Your avatar

show_id = true                   # Whether to show your id in homepage
show_now = true
show_blog = false
show_projects = true             # Whether to show projects page

# Icons, obtained from: https://remixicon.com/ 
blog_icon = "ri-quill-pen-line"          
projects_icon = "ri-tools-line"
now_icon = "ri-meteor-line"
home_icon = "ri-home-office-fill"
rss_icon = "ri-rss-line"
toc_icon = "ri-menu-2-line"


# Social media links 
links = [
    {name = "GitHub", icon = "ri-github-line", url = "https://github.com/bhodrolok"},
    {name = "LinkedIn", icon = "ri-linkedin-box-line", url = "https://www.linkedin.com/in/ranadipc/"},
    {name = "Email", icon = "ri-mail-send-line", url = "mailto:korbolorbo1214@proton.me"}
]

# RSS Feed 
feed_in_blog_section = true      # Whether to make feed file in blog section, url will be https://example.com/blog/feed.xml, read docs for more info about rss feed

# SOL feature switches
toc = true                       # Whether to show Table-Of-Contents [Can be overridden by page config]
blur_effect = true               # Whether to turn on blur effect on navigation bar
back_to_top_button = true        # Whether to show Back-To-Top button
progress_bar = true              # Whether to show reading progress bar
cc_license = false               # Whether to show Creative-Commons statement [Can be overridden by page config]
cc_license_statement = "This work is licensed under [CC BY-NC-SA 4.0](http://creativecommons.org/licenses/by-nc-sa/4.0/)."  # The Creative-Commons statement
outdate_warn = false             # Whether to show outdate warning [Can be overridden by page config]
outdate_warn_days = 120          # How many days will a post be outdated [Can be overridden by page config]
outdate_warn_text_before = "Note: This article was last updated "
outdate_warn_text_after = " days ago and may be out of date."

# Footer text
footer_credits = false            
footer_copyright_name = ""
footer_copyright_year = ""
# footer_custom = "xxxxxxxx"

# Comment and Web analytics config
comment = "none"                 # gitalk / disqus / disqus_js
analytics = "none"               # google_analytics / cloudflare_web_analytics / umami / baidu_tongji

# 3rd party commenting systems 
[extra.gitalk]
client_id = "xxxxxxxx"
client_secret = "xxxxxxxx"
repo = "xxxxxxxx"
owner = "xxxx"
admin = ["xxxx"]
distraction_free_mode = false
per_page = 10
page_direction = "first"
proxy = "https://cors-anywhere.azm.workers.dev/https://github.com/login/oauth/access_token"

[extra.disqus]
shortname = "xxxx"

[extra.disqus_js]
shortname = "xxxx"
apikey = "xxxx"
# site_name = "xxxx"
# identifier = "xxxx"
# url = "xxxx"
# title = "xxxx"
# api = "xxxx"
# nesting = 4
# nocomment = "xxxx"
# admin = "xxxx"
# admin_label = "xxxx"


# Analytics stuff 

[extra.google_analytics]
id = "G-XXXXXXXX"  # or UA-XXXXXXXX

[extra.cloudflare_web_analytics]
token = "xxxxxxxx"

[extra.umami]
website_id = "xxxxx-xxxx-xxxxx"
src = "https://xxxxxxxxxxx/umami.js"

[extra.baidu_tongji]
token = "xxxxxxxx"
