<style>

  /* light mode colors */
  body {
    --primary-color: #344563;
    --primary-pale-color: #3445631c;
    --text-color: #172B4D;
    --text-pale-color: #42526E;
    --bg-color: #FAFBFC;
    --highlight-mark-color: #DFE1E6;

    --callout-note-color: #698bcf;
    --callout-important-color: #9971d9;
    --callout-warning-color: #c99054;
    --callout-alert-color: #d35757;
    --callout-question-color: #4985a2;
    --callout-tip-color: #3ea06f;
  }

  /* dark mode colors */
  body.dark {
    --primary-color: #C594C5;
    --primary-pale-color: #C594C51c;
    --text-color: #D8DEE9;
    --text-pale-color: #A7ADBA;
    --bg-color: #2F343D;
    --highlight-mark-color: #4F5B66;


    --callout-note-color: #698bcf;
    --callout-important-color: #9971d9;
    --callout-warning-color: #c99054;
    --callout-alert-color: #d35757;
    --callout-question-color: #4985a2;
    --callout-tip-color: #3ea06f;
  }

  /* coffee mode colors */
  body.coffee {
    --primary-color: #6F4E37; /* Coffee */
    --primary-pale-color: #6F4E371C; /* Light Coffee */
    --text-color: #FFFFFF; /* Milk */
    --text-pale-color: #8B4513; /* Saddle Brown */
    --bg-color: #3B2F2F; /* Dark Wood */
    --highlight-mark-color: #D2691E; /* Chocolate */

    --callout-note-color: #698bcf;
    --callout-important-color: #9971d9;
    --callout-warning-color: #c99054;
    --callout-alert-color: #d35757;
    --callout-question-color: #4985a2;
    --callout-tip-color: #3ea06f;
  }

  /* typography */
  body {
    --main-font: 'Signika', ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    --code-font: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
    --homepage-max-width: 750px;
    --main-max-width: 750px;
    --avatar-size: 131px;
    --paragraph-font-size: 18px;
    --paragraph-line-height: 1.75;
    --aside-font-size: 16px;
    --img-border-radius: 0px;
    --inline-code-border-radius: 2px;
  }
  
  /* markdown-like */
  blockquote {
    border-left: 5px solid #ccc;
    padding-left: 1em;
    margin-left: 0;
    color: #666;
}


</style>
