<footer>
    <div class="top-section">
      {% if config.extra.show_footer_signature %}
      <div class="copyright">
        {{ config.extra.footer_signature | trim | markdown | safe }}
      </div>
      {% endif %}
      
      {% if config.extra.show_footer_cc_license %}
      <div class="credits">
        <span id="credits-license"><a href="https://creativecommons.org/licenses/by-sa/4.0/" target="_blank"> {{ config.extra.footer_copyright_license | trim | markdown | safe }} </a></span>
      </div>
      {% endif %}
    </div>

    <!--Another one!-->
    {% if config.extra.show_sub_footer %}
    <hr />
    <div class="bottom-section">
      {% if config.extra.show_git_commit_info %}
      <div class="git-commit-info">
        <span id="git-commit-info"></span>
      </div>
      {% endif %}

      {% if config.extra.show_page_source %}
      <div class="page-source">
        <span id="page-source-gh"></span>
      </div>
      {% endif %}
      {% if config.extra.show_user_greeting %}
      <div class="greeting">
        <span id="greeting"></span>
      </div>
      {% endif %}
    </div>
    {% endif %}
</footer>