<footer>
    <div class="top-section">
      <div class="copyright">
        {{ config.extra.footer_copyright | trim | markdown | safe }}
      </div>
      {% if config.extra.footer_credits %}
      <div class="credits" >
        Built with
        <a href="https://www.getzola.org" target="_blank" rel='noreferrer noopener'>zola</a> {% if config.extra.zola_version %} {{ config.extra.zola_version }} {% endif %}
        using the
        <a href="https://github.com/isunjn/serene" target="_blank" rel='noreferrer noopener'>serene</a>
        theme with tweaks.
        {% endif %}
      </div>
    </div>

    {% if config.extra.show_foooter %}
    <hr />
    <div class="bottom-section">
      {% if config.extra.show_build_time %}
      <div class="gen-time">
        Hello there just some text here ahahah
        {% endif %}
      </div>
      {% if config.extra.show_user_greeting %}
      <div class="greeting">
        <p>Hope you are having a great <b id="greeting"></b>!</p>
        {% endif %}
      </div>
    </div>
    {% endif %}
</footer>