{% extends "_base.html" %}

{% block page %}projects{% endblock page%}
{% block lang %}{% if section.extra.lang %}{{ section.extra.lang }}{% else %}{{ section.lang }}{% endif %}{% endblock lang %}
{% block title %}{{ section.title }}{% endblock title %}
{% block desc %}
  <meta name="description" content="{{ section.description }}">
{% endblock desc %}

{% block content %}
{% include "_header.html" %}
<div id="wrapper">
  <main>
    {% set now_data = load_data(path="content/now/data.toml", format="toml") %}
    <hr>
    {% for current_date in now_data.timing -%}
    <p>These are my priorities as of: <b> {{ current_date.date }} </b></p>
    {%- endfor %}
    <p>Page inspired by <a href="https://sive.rs/" target="_blank">Derek Sivers</a> and the <a href="https://nownownow.com/about" target="_blank"> Now movement</a></p>
    <p>To see what other people are upto now, see <a href="https://nownownow.com" target="_blank">nownownow</a>. Consider sharing yours!</p>


  </main>
  {% include "_footer.html" -%}
</div>
{% endblock content %}